main {

    min-height: 75vh;

    .discounts-head {
        text-align: center;
    }

    .discount-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        button {
            border-style: solid;
            background: none;
            border-color: grey;
            border-width: 2px 0 0 2px;
            transform: rotate(-45deg);
            height: 20px;
            width: 20px;
            cursor: pointer;

            &:hover {
                border-color: #ffd526;
            }
        }

        .slider-btn-left {
            border-width: 2px 0 0 2px;
            transform: rotate(-45deg);
        }

        .slider-btn-right {
            border-width: 2px 2px 0 0;
            transform: rotate(45deg);
        }

        img {
            height: 350px;
            width: 700px;
            border-radius: 8px;
        }
    }


    .products-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 130px;
        margin: 40px 200px;

        .product-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            width: 20%;
            padding: 10px;
            border-radius: 6px;
            cursor: pointer;


            &:hover {
                color: #ffca4e;
            }

            .product-price {
                align-self: flex-end;
            }
        }

        img {
            height: 120px;
            width: 120px;
            border-radius: 4px;
        }
    }
}


